color-background = #dddddd
color-font = #817c7c
color-white = #ffffff
color-blue = #2ca6cb
color-theme = #3d8b76
color-font-nav = #57A7B5
color-section = #ffffff
color-footer = #1f1f1f
color-gray = #CCC
color-heading = #333333
color-code = #eee
color-facebook = #3b5998
color-weibo = #d52727
color-google = #dd4b39
color-rss = #faac1e
color-github = #000000
color-qrcode= #49ae0f
color-blue = #5aba59
color-blue-dark = #4d85d1
color-yellow = #bbcb2c


//Font
font-default = "Helvetica Neue", "Helvetica","Microsoft YaHei", "WenQuanYi Micro Hei",Arial, sans-serif,"SimSun"
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-custom-family = "covered_by_your_graceregular"
font-custom-filename = coveredbyyourgrace-webfont
font-icon-family = "FontAwesome"
font-icon-filename = fontawesome-webfont
font-icon-version = "4.0.3"
ShowCustomFont = hexo-config("ShowCustomFont")
font-size = 100%
line-height = 1.5

//comment
duoshuo = hexo-config("duoshuo.enable")

//highlight
highlight = hexo-config("highlight.enable")