#footer
    p.copyright
        | Powered by
        | &nbsp;
        a(href="http://hexo.io" target="_blank" title="hexo")
            | Hexo
        | &nbsp;
        | and Theme by
        | &nbsp;
        a(href="https://github.com/gaoyangxiaozhu" target="_blank" title="gyy-theme")
            | gaoyangxiaozhu
            | ©
            = new Date().getFullYear()


