body
  background-attachment fixed
  >header
    width 100%
    background #1f1f1f
    opacity .88
    color color-white
    position relative
    padding 1.2rem 0 0
    >div
      width 100%
      margin 0 auto
      position relative
    a
      display block
      color color-white
    @media only screen and (max-width 567.9999px)
      overflow hidden
    @media only screen and (min-width 568px)
      height 140px

#imglogo
  float left
  display none
  @media only screen and (min-width 1024px)
    width 7.5rem
    height 6.5rem
    margin-left 1.5rem
    display block
    position absolute
  a
    background-color #f3f3f3
    border 4px solid lighten(#bbcb2c, 20)
    padding .6rem .2rem
    text-align center
  img
    width 6rem
    height 6rem
    transition transform 2s ease-out
    &:hover
      transform rotateZ(360deg)



#textlogo
  float left
  display inline-block
  margin-left .5rem
  @media only screen and (max-width 567.9999px)
    font-size smaller
  @media only screen and (min-width 568px) and (max-width 767.9999px)
    margin-left 30% !important
    font-size  larger
  @media only screen and (min-width 768px)
    margin-left 14%
  @media only screen and (min-width 1024px)
    margin-left 11em
  h1.site-name
    display inline-block
    if ShowCustomFont
      font-family font-custom-family
      font-size font-size+100
      line-height line-height
      font-smoothing()
      @media only screen and (min-width 768px)
        font-size font-size+140
      @media only screen and (min-width 1024px)
        font-size font-size+180
    else
      font-family font-default
      font-size font-size+60
      line-height line-height+0.4
      font-weight normal
      @media only screen and (min-width 768px)
        font-size font-size+90
      @media only screen and (min-width 1024px)
        font-size font-size+120
.icon
  @media only screen and (max-width 568px)
    display none
  @media only screen and (max-width 767.9999px)
    margin-left 30%
  @media only screen and (min-width 768px)
    margin-left 2rem
  @media only screen and (min-widtht 1024px)
    margin-left 5rem
  display inline-block
  position relative
  top 10px
  [class^="icon-"],
  [class*=" icon-"]
    opacity .5
    cursor pointer
    transition all .2s linear
    &:hover
      opacity 1
  a
    display inline-block
    position relative
    float left
    height 4rem
    width 4rem
    margin-right 1rem
    border-radius .5rem
    &:before
      display inline-block
      position absolute
      font-family font-icon-family
      font-size 3rem
      width 100%
      height 100%
      left .5rem
  .icon-weibo
    background-color color-weibo
    &:before
      content "\f18a"
  .icon-github
    background-color color-github
    &:before
      content "\f09b"
  .icon-facebook
    background-color color-facebook
    &:before
      content "\f09a"
  .icon-rss
    background-color color-rss
    &:before
      content "\f09e"

.navbar
  position absolute
  width 2rem
  right 0
  top 0
  padding .5rem
  @media only screen and (min-width 568px)
    display none

.navbutton::before
  font-family font-icon-family
  font-smoothing()
  content "\f0c9"

.navmobile::before
  padding-left 1rem

header nav
  float left
  width 100%
  background-color  lighten(color-theme, 10%)
  font-size font-size+12.5
  max-height 0
  transition max-height 1s ease-out
  margin-top 1rem
  ul
    width 100%
    margin-top 2px
    li
      text-align center
      padding-top .5rem
    a
      display inline-block
  @media only screen and (min-width 568px)
    width 100%
    margin-top 1rem
    max-height none
    ul
      li
        float left
        width 33%
        min-height 50px
        a
          padding 0 1rem
          position relative
          font-weight bold
          font-size larger
          &:after
              content ""
              position absolute
              bottom 0
              left 0
              width 100%
              height 6px
              background-color #bbcb2c
              opacity  0
              transform  translateY(33px)
              transition all .4s ease-in
          &:hover:after
              opacity 1
              transform translateY(17px)

.shownav
  max-height 40em

