#archive-page section.post
  float left
  margin 1em
  min-height 170px
  height 170px
  a h1
    display block

footer.article-footer
  background color-section
  padding 0 4%
  margin 0
  border-top 1px solid lighten(color-gray, 30%)


//qrcode
.qrcode
  absolute-center(15em)
  background color-white
  border 2px solid color-gray
  border-radius 3px
  display inline-block
  opacity 0
  position fixed
  text-align center
  visibility hidden
  z-index 10
  transition opacity .5s
  @media only screen and (min-width 1024px)
    absolute-center(20em)
    position fixed
  span
    display block
    width 80%
    height 1.5em
    font-size 80%
    float left
    &:before
      content none
  a
    display block
    width 16%
    height 1.5em
    float left
  img
    width 90%
    height 90%

.qrclose
  &:before
    font-family font-icon-family
    font-smoothing()
    content "\f057"
    color color-gray
  &:hover:before
    color color-blue !important

.overlay
  display none !important

.overlay:target+.qrcode
  opacity 1
  visibility visible

//tags&categories
.article-tags, .article-categories
  padding .5em 0
  float left
  @media phone
    width 50%
  @media mini
    width 30%
  @media tablet
    width auto


.article-categories
.article-tags
  a
    float left
    padding .1em .5em
    margin .3em
    background #5aba59
    color #fff
    &:hover
      color #bbcb2c
.article-tags :before
  font-family "FontAwesome"
  content "\f02c"
  margin-right .3em

.article-category-link
  padding .5em
  margin 0 .3em
  &:hover
    color #bbcb2c
  &:before
    font-family font-icon-family
    font-smoothing()
    content "\f07b"
    margin-right .3em

//page nav
.article-nav
  padding 0 1%
  position relative
  @media only screen and (min-width 768px)
    padding 0 4%
  strong
    font-size .6em
  a
    display block
  .prev, .next
    display inline-block
    box-sizing border-box
    position relative
    color color-white
    padding 0 1em
    height 2em
    line-height 2em
    width 100%
    margin-bottom .5em
    &:hover
      color #bbcb2c
  .prev
    background-color #3D8B76
    @media only screen and (min-width 768px)
      width auto
      float left
      &:before
        border-right 1rem solid #3D8B76
        content ""
        position absolute
        left -2em
        height 0
        width 0
        border-top 1rem solid transparent
        border-bottom 1rem solid transparent
        border-left 1rem solid transparent
      &:after
        border-right 1rem solid transparent
        content ""
        position absolute
        right -1em
        height 0
        width 0
        border-top 1rem solid #3D8B76
        border-bottom 1rem solid #3D8B76
        border-left 1rem solid #3D8B76
  .next
    background-color #3D8B76
    @media only screen and (min-width 768px)
      width auto
      float right
      &:after
        border-left 1rem solid #3D8B76
        content ""
        position absolute
        right -2em
        height 0
        width 0
        border-top 1rem solid transparent
        border-bottom 1rem solid transparent
        border-right 1rem solid transparent
      &:before
        border-left 1rem solid transparent
        content ""
        position absolute
        left -1em
        height 0
        width 0
        border-top 1rem solid #3D8B76
        border-bottom 1rem solid #3D8B76
        border-right 1rem solid #3D8B76

#toTop
  display none
  @media only screen and (min-width 768px)
    position fixed
    z-index 100
    display block
    width 3rem
    right 3rem
    bottom 3rem
    height 3rem
    text-align center
    line-height 3rem
    border-radius .5rem
    font-size 2rem
    background-color #bbb
    color #222
    opacity .8
    text-decoration none
    transition all .1s ease-in
  &:before
    font-family "FontAwesome"
    content: "\f062"
  &:hover
    background-color #3d8b76
    color #fff






//comment
section.comment
  padding 0 4%
  margin 1em 0

//toc
.toc-article
  background color-code
  margin 2em 0 0 .5em
  padding 1em
  strong
    padding .3em 0
#toc
  line-height 1em
  font-size .8em
  float right
  color color-theme
  .toc
    padding 0
    li
      list-style-type none
  .toc-child
    padding-left 1.5em
#toc.toc-aside
  display none
  width 13%
  position fixed
  right 2%
  top 320px
  overflow hidden
  line-height 1.5em
  font-size 1em
  color color-heading
  opacity .6
  transition opacity 1s ease-out
  strong
    padding .3em 0
    color color-font
  &:hover
    transition opacity .3s ease-out
    opacity 1
  a
    transition color 1s ease-out
    &:hover
      color color-theme
      transition color .3s ease-out
.active
  color color-theme !important
