/*! index layout */
#container
  width 95%
  margin 0 auto
  overflow hidden
  @media mini
    width 96%
  @media tablet
    width 94%
  @media desktop
    width 82%
    
#main
  margin 1em 0 0
  line-height line-height+0.3
  @media tablet
    margin 2em 0 0
    width 75%
    float left
    transition margin 0.5s ease-out
  section.post
    background color-section
    margin-bottom 0.125em
    a
      display block
      padding 0.5em
      @media mini
        padding 1em
      h1
        color #bbcb2c //新增颜色
        line-height line-height+0.5
        background-color #3D8B76 //新增颜色
        display inline-block
        position relative
        margin 0 .2em
        left -2.6rem
        padding-left 2rem
        padding-right 1rem
        border-radius 0 4px 4px 0
        border-color darken(#3D8B76,20%)
        &:before
          position absolute
          content ""
          top 100%
          left 0
          border-top 0 solid transparent
          border-right-width 1em
          border-right-color inherit
          border-right-style solid
          border-bottom 1em solid transparent
          border-left 0 solid transparent
          width 0
          height 0
      p
        color color-font
        padding 1em 1em
      time
      span
        color color-font
        margin 0.5em 0
        font-size 0.5em
        background-color #5aba59
        padding .4em 10px
        color #fff
        display inline-block
      span
        margin-left 1em
        background-color #4d85d1 //新增颜色
        &:before
          font-family "FontAwesome"
          content "\f02c"
          margin-right .3em



.moveMain
  margin-left 10% !important

#page-nav
  background color-section
  text-align center
  overflow hidden
  a, span
    display inline-block
    padding 0.5em 1em
  a
    color color-blue
    &:hover
      background color-gray
      color color-theme
  .prev
    float left
    border-left 0.5em solid color-gray
    transition border-left .5s
    &:hover
      border-left 0.5em solid color-theme
  .next
    float right
  .page-number
    display none
    @media mini
      display inline-block
  .current
    color darken(color-gray,10%)
    font-weight bold
  .space
    color color-blue

/*! page layout */
.page
  @media tablet
    margin-left 10% !important

/*! archive layout */
.category-icon:before,.tag-icon:before,.archive-icon:before
  font-family font-icon-family
  font-smoothing()
  color color-gray
  font-size font-size
  padding-right 0.3em

.category-icon:before
  content "\f07b"

.tag-icon:before
  content "\f02c"
  
.archive-icon:before
  content "\f187"

.archive-title
  margin 1em 0
  width 97%
  padding 2em 0 2em 3%
  @media tablet
    margin 2em 0
    width 18.5%
    padding-left 0.5%
    float left
  background color-section
  border-left 0.5em solid color-gray
  h2
    width 90%
    font-size font-size+20
  a
    transition color .5s
    &:hover
      color color-theme
      transition color .5s
.current
  color color-theme !important

.archive-part
  @media mini
     min-height 200px
  @media tablet
    width 78% !important
    float right
    margin-left 2% !important
  section.post
    width 100%
    @media mini
      float left
      width 50%
    @media tablet
      width 33.333%

.archive-nav
  @media mini
    width 100%
    float left
    margin-top 1em

/*! tags&categories layout */
.all-list-box
  min-height 400px
